<h4>Cadastrar nova notícia</h4>

<%= simple_form_for [project, project.updates.new], remote: true, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: "Título da Notícia", required: true %>
  <%= f.input :description, label: "Descrição", required: true %>

  <%= f.button :submit, "Salvar e continuar", class: "btn btn-primary" %>
<% end %>
