<tr class="<%= 'bg-light' if has_unread_messages?(conversation, current_user) %>">
  <td class="text-center" width="10%">
    <img src="<%= is_sender?(conversation.sender) ? user_image(conversation.recipient) : user_image(conversation.sender) %>" class="rounded-circle" width="50" height="50">
    <p class="ptm mbn"><%= is_sender?(conversation.sender) ? user_name(conversation.recipient) : user_name(conversation.sender) %></p>
  </td>
  <td>
    <p class="man"><%= l conversation.created_at, format: :default %></p>
    <%= link_to manager_conversation_path(conversation), class: 'text-secondary' do %>
      <p class="man text-primary"><%= project_name(conversation.project) %></p>
      <p class="man"><%= conversation.messages.last.body if conversation.messages.present? %></p>
    <% end %>
  </td>
  <td>
    <p class="man pan"><%= unread_conversation_badge(conversation, current_user) %></p>
  </td>
</tr>
