<div class="card">
  <% if @conversations.present? %>
    <table class="table">
      <tbody>
        <% @conversations.each do |conversation| %>
          <%= render 'manager/conversations/list', conversation: conversation %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-warning">
      Nenhuma mensagem encontrada.
    </div>
  <% end %>
</div>