<%= simple_form_for [message], remote: true, html: { class: 'form-inverse' } do |f| %>
  <%= f.hidden_field :conversation_id, value: @conversation.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.input :body, required: true, as: :text, label: false, placeholder: 'Mensagem', input_html: { rows: 5 } %>

  <div class="text-right">
    <%= f.button :submit, "Responder", class: 'btn btn-primary' %>
  </div>
<% end %>
