<div class="clearfix">
  <div class="<%= set_message_class message %>">
    <p><%= format_message message %></p>
    <p class="lead text-secondary mbn pbn">
      <small><%= set_user_name message.user %> - <%= time_ago_in_words message.created_at %></small>
    </p>
  </div>
</div>
