<% if @conversation.present? && can?(:manage, @project) %>
  <div id="messages-container" class="card mbn">
    <div id="messages" class="paxl">
      <% @conversation.messages.order(created_at: :asc).each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= render 'messages/form', message: @conversation.messages.new %>
  </div>
<% else %>
  <div class="alert alert-warning">
    Nenhuma mensagem encontrada.
  </div>
<% end %>
