<div class="messages__user">
  <img src="<%= user_image @conversation.sender %>" class="rounded-circle">
  <h4><%= user.name %></h4>
  <p class="mbn pbn">
    <span class="mdi mdi-email text-primary"></span> <%= user.email %> </br>
    <% if user.phone.present? %>
      <span class="mdi mdi-cellphone-android text-primary"></span> <%= user.phone %>
    <% end %>
  </p>
</div>
