<% if @message.errors.empty? %>
  $('#new_message')[0].reset();
  $('#messages').append("<%= j render 'messages/message', message: @message %>").animate({ scrollTop: $('#messages')[0].scrollHeight }, 'slow');
<% end %>