<% content_for :bn, 'bn-projects' %>
<% content_for :bnimage, bn_image(@backer.project) if @backer.project.image_url.present? %>

<% content_for :head do %>
  <div class="container">
    <h2 class="title text-negative">Apoio a Campanha</h2>
  </div>
<% end %>

<% unless ["paid", "refunded", "refused"].include? @backer.status %>
  <script>
    setTimeout(function () { location.reload(true); }, 5000);
  </script>
<% end %>

<div class="bg-light content">
  <div class="container">
    <% if ["refunded", "refused"].include? @backer.status %>
      <h1 class="text-center text-primary mbxl"> Ocorreu um Problema </h1>
      <div class="row justify-content-center text-center">
        <div class="card col-6 paxl">
          <h5>Houve um problema ao tentarmos processar o pagamento de sua doação </h5>
          <div class="ptl">
            <p><strong>Tente novamente mais tarde ou entre em contato conosco.</strong></p>
          </div>
        </div>
      </div>
    <% else %>
      <h1 class="text-center text-primary mbxl">Obrigado!</h1>
      <div class="row justify-content-center text-center">
        <div class="card col-6 paxl">
          <% if @backer.status == "paid" %>
            <h5>A sua doação para a campanha de <%= @backer.project.user.name %> foi processada com sucesso! </h5>
          <% else %>
            <h5>A sua doação para a campanha de <%= @backer.project.user.name %> está sendo processada. </h5>
          <% end %>
          <h2 class="ptl pbl"><%= @backer.project.name %></h2>
          <div class="ptl">
            <p><strong>Valor da doação: <%= amount_to_real @backer.value %></strong></p>
          </div>

          <% if @backer.reward.present? %>
            <div class="ptl pbl">
              <h3 class="text-primary">Sua Recompensa</h3>
              <%= @backer.reward.description %>
            </div>
          <% end %>

          <%= link_to "Imprimir Boleto", @backer.payment_url, target: :blank, class: 'btn btn-success mbxl' unless @backer.payment_url.blank? %>

          <%= link_to "Ver Campanha", project_path(@backer.project), class: 'text-center' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
