<h2>Editar Conta</h2>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-group">
    <%= f.filestack_field :avatar_url, 'Envie sua foto', pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.onUpload(event)', class: 'btn btn-primary btn-avatar btn-block' %>
  </div>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Nome Completo', autofocus: true, required: true, autocomplete: "name", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'E-mail', autofocus: true, required: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_field :bio, placeholder: 'Fale sobre você', autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, placeholder: 'Senha Atual', autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: 'Nova Senha', autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirme nova Senha', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>
