<h2>Cadastre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Nome Completo', autofocus: true, required: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'E-mail', autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, placeholder: 'Senha', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirme sua senha', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
