<div class="row justify-content-between list-unstyled devise-links">
  <%- if controller_name != 'sessions' && controller_name != 'passwords'  %>
    <div class="col-12 text-center"><%= link_to "Já tem cadastro? Faça seu login", new_session_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="col-12 text-center"><%= link_to "Faça seu cadastro", new_registration_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="col-6"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></div>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="col-6"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></div>
  <% end -%>
</div>

