<div class="justify-content-between text-center list-unstyled devise-providers">
  <% if devise_mapping.omniauthable? %>

    <% resource_class.omniauth_providers.each do |provider| %>
      <% provider_name = OmniAuth::Utils.camelize(provider) %>
      <div class="row <%= "omniauth-#{provider}" %>">
        <% if provider_name === "GoogleOauth2" %>
          <%#= link_to (image_tag 'google-signin-2x.png', class: "google-signin-btn"), user_google_oauth2_omniauth_authorize_path, class: 'img-center' %>
        <% else %>
          <%= link_to t("devise.omniauth.facebook-signin"), user_facebook_omniauth_authorize_path, class: "btn facebook-signin-btn" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
