<% if post_categories.present? %>
  <ul>
    <% post_categories.each do |post_category| %>
      <li class="<%= 'post-selected-category' if selected_category.to_i == post_category.id %>">
        <%= link_to "#{post_category.name} (#{post_category.posts.count})", posts_path(q: {post_category_id_eq: post_category.id}) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma categoria cadastrada</p>
<% end %>
