.btn-negative {
  @extend .btn-light;
  background: theme-color('negative');
  color: #666;
}

.btn-hspaced {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-vspaced {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-spaced {
  padding: 12px 30px;
}

.btn-xlg {
  font-weight: 700;
  font-size: 36px;
  padding: 10px 50px;
}

.btn-secondary {
  color: white;
}

.btn-upload {
  font-weight: 300;
  padding: 24px 50px;
}

.btn-avatar {
  font-weight: 300;
  padding: 18px 25px;
}
