.navbar {
  font-weight: 300;

  .navbar-brand img {
    height: 45px;
  }

  .form-control, .form-control:focus {
    padding: 24px;
    background: transparent;
    width: 300px;
    font-weight: 300;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .btn {
    font-weight: 300;
  }

  .navbar-toggler-wrapper {
    display: flex;
  }
}

@media (min-width: $md-width) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover, a:focus {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}

.navbar-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
