.simple_form {
  input[type='text'] {
    padding: 20px 15px;
  }

  select {
    padding: 0 15px;
    height: 50px;
  }

  textarea {
    padding: 15px;
    height: 150px;
  }

  .form-group {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  small {
    padding-bottom: 20px;
  }

  .checkbox input {
    margin-right: 10px;
  }

  .checkbox label {
    font-size: 12px;
    font-weight: 300;
  }
}
