<% content_for :bn, 'bn-home' %>

<% content_for :head do %>
  <div class="row header-description">
    <div class="col-lg-6">
      <div class="paxl">
        <h1 class="pal text-negative">Muito mais que um financiamento coletivo voltado para o esporte.</h1>
      </div>
    </div>
  </div>
<% end %>


<div class="bg-light content">
  <div class="container">
    <p>Este é um acordo legal entre você USUÁRIO (que utiliza a nossa plataforma, seja publicador de projeto, apoiador de projeto ou simplesmente navegador do nosso site) e ALSTER, sobre o uso desta plataforma. Ao utilizar a nossa plataforma, ALSTER, você concorda com os termos aqui expostos. Portanto, recomendamos uma leitura cuidadosa.</p>
    <p>1. O que é a ALSTER?</p>
    <p>A ALSTER é uma plataforma online de financiamento coletivo, que se destina a aproximar quem lançou o projeto esportivo (“Campanha”) com que tem interesse em apoiar. A ALSTER permite que o Criador apresente seu objetivo e, a partir disso, arrecade a importância necessária para viabilizá-lo. Os projetos lançados na ALSTER podem conter recompensas, que serão disponibilizadas à critério e responsabilidade do Criador. A ALSTER fará a gestão dos valores arrecadados pela Campanha, até que finde o seu prazo de vigência.</p>
    <p>2. Nomenclatura:</p>
    <p>Para facilitar a leitura e compreensão destes Termos, segue uma breve indicação sobre expressões e nomenclaturas utilizadas, e seu significado:</p>
    <p>USUÁRIO – Todo aquele que utiliza a plataforma ALSTER, seja Criador, Apoiador ou simplesmente Navegador do site, pessoa física ou jurídica.</p>
    <p>CRIADOR – Usuário da ALSTER interessado em criar um ou mais Projetos na plataforma para que sejam financiados pelos Apoiadores, podendo oferecer ou não Recompensas, de acordo com as regras que criar para o Projeto.</p>
    <p>APOIADOR – Usuário da ALSTER interessado em contribuir financeiramente com os Projetos de um ou mais Criadores, podendo receber Recompensas, de acordo com as regras estabelecidas em cada Projeto. Os Apoiadores podem selecionar a Modalidade de Apoio “esporte em primeiro lugar” ou “só a vitória interessa”, conforme seu interesse em receber Estorno caso a meta do Criador não seja atingida.</p>
    <p>APOIO – Contribuição financeira à Campanha do Criador, por parte do Apoiador.</p>
    <p>CAMPANHA – É o Projeto publicado pelo Criador, disponibilizado por prazo determinado, para o recebimento dos apoios dentro da plataforma.</p>
    <p>MODALIDADE “esporte em primeiro lugar” – Modalidade de apoio escolhida pelo Apoiador, indicado o seu desinteresse em receber o valor doado de volta, caso a Campanha do Criador não atinja a sua meta.</p>
    <p>MODALIDADE “só a vitória interessa” – Modalidade de apoio escolhida pelo Apoiador, indicando seu interesse em receber o valor doado de volta, caso a Campanha do Criador não atinja a sua meta, hipótese que não receberá qualquer recompensa – se existir.</p>
    <p>CONTA – Local dentro da plataforma onde ficam armazenadas as informações do Usuário e através do qual ele terá acesso à plataforma.</p>
    <p>META – Montante definido pelo Criador como objetivo de arrecadação da Campanha.</p>
    <p>RECOMPENSAS – Incentivos definidos pelo Criador dentro da Campanha, corpóreos ou não, que poderão ser oferecidos quando da contribuição do Apoiador, podendo este optar ou não por recebê-la.</p>
    <p>SITE – Nome de domínio da Alster (“www.alster.esp.br”) no qual os Usuários farão uso da plataforma.</p>
    <p>TAXA ALSTER – Taxa de 12% sobre o valor arrecadado pelo Projeto cobrada pelo Catarse pela prestação dos serviços ao Realizador, já incluídas as tarifas cobradas pelos meios de pagamento.</p>
    <p>3. Qual a diferença entre a Modalidade “Esporte em primeiro lugar” e a Modalidade “só a vitória interessa”?<span class="Apple-converted-space"> </span></p>
    <p>Tanto a Modalidade “esporte em primeiro lugar”, quanto a Modalidade “só a vitória interessa” almejam o financiamento coletivo. Na ALSTER, quem determina a modalidade de arrecadação é o Apoiador, no momento da doação. Ou seja, é o apoiador que irá manifestar o seu desejo ou não em receber de volta o valor doado caso a meta da Campanha não seja atingida no prazo determinado.<span class="Apple-converted-space"> </span></p>
    <p>Na Modalidade “esporte em primeiro lugar”, no momento de realizar o Apoio, o Apoiador doará o valor, independentemente do resultado da Campanha.</p>
    <p>Na Modalidade “só a vitória interessa”, no momento de realizar o Apoio, o Apoiador poderá selecionar a opção “Desejo receber meu dinheiro de volta caso esta campanha não atinja sua meta”, hipótese em que o valor doado será devolvido ao Apoiador caso a Campanha não atinja a sua meta dentro do prazo determinado, isto é, no mínimo 100% do valor lançado.</p>
    <p>4. Diretrizes a serem seguidas pelo Criador:</p>
    <p>a) a Campanha que pretende desenvolver deve ser necessariamente lícita e de acordo com a legislação brasileira, com informações verdadeiras;</p>
    <p>b) o Criador deverá ser maior de 18 (dezoito) anos, brasileiro, com conta bancária no Brasil, ou ter um responsável que se encaixe em tais requisitos.</p>
    <p>c) a Campanha deverá ter um objetivo definido.</p>
    <p>d) ao criar a Campanha, deve estipular o valor total que deseja obter como financiamento.</p>
    <p>e) ao criar a Campanha, deve estipular o prazo em que deseja obter o valor total para o financiamento, podendo variar entre 1 (um) e 365 (trezentos e sessenta e cinco) dias.</p>
    <p>f) poderá estabelecer, conforme seu próprio interesse, recompensas aos Apoiadores, ficando as condições de obtenção, prazo, forma de recebimento e número de Apoiadores passíveis de serem beneficiados, a seu próprio critério e responsabilidade.</p>
    <p>g) deverá cumprir suas promessas de execução do projeto e entrega de recompensas perante seus apoiadores, caso opte por estabelecer tais recompensas.</p>
    <p>h) o Projeto de Campanha enviado à ALSTER poderá não ser divulgado pela ALSTER, a exclusivo critério desta.</p>
    <p>i) Compromete-se, o Criador, a solicitar o resgate dos valores arrecadados através da plataforma no prazo máximo de 90 dias a contar da data de encerramento da Campanha. Passado esse período, os valores em questão serão considerados irrevogavelmente e irretratavelmente cedidos à ALSTER e poderão ser utilizados pelo ALSTER da forma como o ALSTER julgar mais conveniente;<span class="Apple-converted-space"> </span></p>
    <p>j) Os valores cedidos à ALSTER mediante a inércia do Criador referente ao resgate – mencionada na alínea ‘c’ supra – serão devolvidos aos Apoiadores na hipótese de apoio conforme a Modalidade, escolhida exclusivamente pelo apoiador, “só a vitória interessa”.</p>
    <p>k) Deverá indicar os meios através dos quais o Apoiador poderá acompanhar o desenvolvimento da Campanha;</p>
    <p>l) Deverá indicar os meios através dos quais o Apoiador poderá reclamar, diretamente ao Criador, as recompensas eventualmente prometidas e não cumpridas nos prazos e condições previamente estipulados, conforme a Campanha;</p>
    <p>m) manter-se disponível e comunicar-se de forma efetiva, clara e transparente com seus Apoiadores até a entrega total do projeto e das recompensas;</p>
    <p>o) Deverá fornecer, previamente ao início da captação, seus dados bancários para a transferência dos recursos captados pela Campanha, descontadas as taxas previamente acordadas, tais como a Taxa Alster e taxas de cartão de crédito e emissão de boletos bancários;<span class="Apple-converted-space"> </span></p>
    <p>p) o Criador deverá ter reputação íntegra e não questionada pela comunidade da ALSTER, podendo ter sua Campanha bloqueada e excluída caso não se encaixe nos padrões ALSTER, hipótese que os valores de apoios serão necessariamente devolvidos aos apoiadores, independentemente da Modalidade de apoio escolhida.</p>
    <p>q) o Criador não poderá criar Campanha que explore a imagem, a voz ou<span class="Apple-converted-space">  </span>o nome de pessoas sem o seu consentimento expresso;</p>
    <p>r) o Criador não poderá criar Campanha que viole direitos de propriedade intelectual de terceiros;</p>
    <p>s) As recompensas oferecidas pelo Criador não poderão envolver tabaco, drogas ilícitas, remédios, cosméticos, armas ou facas.</p>
    <p>t) o Criador não poderá utilizar indevidamente os dados pessoais dos apoiadores, mas tão somente para entregas as recompensas adquiridas.</p>
    <p>5. Quais os deveres e as responsabilidades do Criador?</p>
    <p>a) Ao estabelecer incentivos e/ou recompensas na Campanha, o Criador assume as obrigações previstas no artigo 854 e seguintes do Código Civil Brasileiro, tornando-se diretamente responsável pelo cumprimento de sua promessa perante os Apoiadores que preencherem as condições estipuladas, tais como: doação do valor correspondente ao benefício, sem qualquer responsabilidade, direta ou indireta, por parte da ALSTER;<span class="Apple-converted-space"> </span></p>
    <p>b) O Criador assume a responsabilidade integral e exclusiva por tributos de quaisquer natureza incidentes sobre a Campanha ou sobre sua atividade, inclusive quanto a tributos incidentes sobre pagamentos relativos à sua arrecadação, isentando expressamente a ALSTER de qualquer responsabilidade tributária, cível, penal, trabalhista ou previdenciária relativas à sua atividade e/ou arrecadação;<span class="Apple-converted-space"> </span></p>
    <p>c) Neste ato, o Criador outorga mandato específico a ALSTER que fica desde já expressamente autorizada a gerenciar os valores dos Apoios e emitir, em nome de quem lançou a Campanha (Criador) recibo ao Apoiador, com a indicação da Campanha apoiada, data do pagamento, valor angariado, e-mail, endereço, nome completo ou razão social, CPF ou CNPJ de quem lançou o projeto e de quem apoiou;</p>
    <p>d) Assume todas as demandas judiciais que forem motivadas por ação ou omissão próprias, devendo requerer a exclusão da ALSTER do processo e indenizá-la das despesas originadas com honorários advocatícios e perdas e danos a que der causa, nas formas da lei.<span class="Apple-converted-space"> </span></p>
    <p>e) o Criador deverá realizar o projeto objeto da Campanha, independentemente de atingir ou não a integralidade do valor exposto na Meta da Campanha, sob pena de ser responsabilizado no âmbito civil ou pena.</p>
    <p>f) caso o Criador não tenha a intenção de realizar o projeto objeto da Campanha na hipótese de não atingir o valor integral exposto na Meta da Campanha, deverá desistir da Campanha, sendo o valor arrecadado devolvido aos Apoiadores independentemente da Modalidade de apoio escolhida por eles.</p>
    <p>6. Diretrizes a serem seguidas pelos Apoiadores:<span class="Apple-converted-space"> </span></p>
    <p>a) Escolhe livremente a(s) Campanha(s) que deseja apoiar;</p>
    <p>b) Estipula o(s) valor(es) com que deseja contribuir para o(s) Campanha(s);</p>
    <p>c) Opta pelo apoio conforme a Modalidade “esporte em primeiro lugar” ou a Modalidade “só a vitória interessa”;</p>
    <p>c) Quando for oferecida recompensa, seleciona, se desejar, qual(is) recompensa(s) deseja receber diretamente de quem lançou o projeto, nos termos e condições estabelecidas na Campanha selecionado, obedecendo o critério do valor, bem como da quantidade de apoiadores máximos, se determinado;<span class="Apple-converted-space"> </span></p>
    <p>d) Efetua o pagamento por meio de cartão de crédito ou boleto bancário.<span class="Apple-converted-space"> </span></p>
    <p>d.1.) Ao optar pagamentos por meio de boleto bancário, caso o boleto gerado não seja pago na data de vencimento nele estipulada, o apoio não será efetivado e portanto não dará direito à quem apoiou à recompensa eventualmente definida na Campanha;</p>
    <p>d.2.) Ao realizar o apoio mediante cartão de crédito, seu ato será considerado irretratável e irrevogável, respondendo o Apoiador por eventuais danos causados ao ALSTER ou a terceiros pelo não reconhecimento da operação junto à operadora do cartão de crédito;</p>
    <p>d.2.1.) O pagamento via cartão de crédito deve ser aprovado pelo Banco do APOIADOR, de forma que eventual recusa pelo Banco exime qualquer responsabilidade da ALSTER, ficando o pagamento condicionado à aprovação bancária.</p>
    <p>e) Ao cumprir as condições estipuladas para o recebimento dos incentivos e/ou das recompensas prometidos por quem lançou o projeto, o Apoiador adquire os direitos previstos no artigo 855 e seguintes do Código Civil brasileiro, devendo exigir diretamente do quem lançou o projeto (Criador), o cumprimento de sua promessa, estando ciente de que não há qualquer responsabilidade, direta ou indireta, por parte da ALSTER a esse respeito;<span class="Apple-converted-space"> </span></p>
    <p>f) Ao decidir apoiar determinado projeto, destinando recursos para o mesmo, quem apoiou o projeto assume a responsabilidade de manter cadastro atualizado e indicar conta bancária para eventual devolução do valor, caso decida realizar apoios por boleto bancário;</p>
    <p>g) Ao apoiar um projeto, o Apoiador outorga mandato específico à ALSTER, que fica expressamente autorizada a gerenciar os valores dos apoios:</p>
    <p>- durante todo o período em que as Campanha permanecerem vigentes e até que seja feito o regaste por quem lançou o projeto</p>
    <p>- após o término do prazo determinado, até que seja feita a devolução dos valores aos Apoiadores mediante a Modalidade “só a vitória interessa”, caso a Campanha não atinja seu objetivo.</p>
    <p>- após o término da campanha, caso fique configurada a cessão de crédito dos valores por quem lançou campanha.</p>
    <p>- após o término da Campanha, caso o apoiador tenha escolhido a Modalidade “só a vitória interessa”, mas não informou seus dados atualizados para a devolução do valor, hipótese que restará configurada cessão de crédito dos valores pelo apoiador ao Criador da Campanha.</p>
    <p>h) É o único responsável pelo acompanhamento do desenvolvimento da Campanha, por meio de informações prestadas diretamente pelo Criador e, subsidiariamente, pela ALSTER.</p>
    <p>i) o Apoiador está ciente e de acordo que a ALSTER não tem qualquer obrigação de monitorar a Campanha e tampouco a execução do Projeto após findo o prazo da Campanha, e sequer qualquer responsabilidade, direta ou indireta, sobre as informações prestadas por quem lançou o projeto, seja em relação à veracidade e/ou tempestividade das mesmas, seja em relação ao desenvolvimento do Projeto, a incentivos e/ou recompensas ou com relação a qualquer outro tipo de dado vinculado à Campanha, ao Projeto, e seu desenvolvimento.</p>
    <p>j) Está ciente que a ALSTER envidará seus melhores esforços para manter quem apoiou o projeto informado acerca do sucesso ou insucesso do Projeto ou da Campanha por ele apoiado, tal esforço, contudo, não representa qualquer responsabilidade por parte da ALSTER, com o que expressamente concorda com quem apoiou;</p>
    <p>k) Poderá enviar à ALSTER, através do info@alster.esp.br, sugestões ou críticas à forma como uma Campanha divulgada pela ALSTER está estruturada, bem como Denunciar uma Campanha, utilizando o campo “Denúncia” ao final da página de cada Campanha, seguindo as Diretrizes de Denúncia, denunciando a violação de quaisquer direitos de terceiros assegurados pela legislação brasileira;<span class="Apple-converted-space"> </span></p>
    <p>7. A Responsabilidade da ALSTER</p>
    <p>A ALSTER, a partir de sua plataforma (www.alster.esp.br) visa à aproximação de quem lança um projeto com quem tem interesse de apoiar um projeto, sem vincular as partes a qualquer relação de trabalho, ou de sociedade de qualquer natureza.</p>
    <p>Vale ressaltar, também, que a Alster não atua com transação comercial de nenhuma natureza.<span class="Apple-converted-space"> </span></p>
    <p>A responsabilidade da ALSTER se resume ao funcionamento adequado da sua plataforma, sem garantir, assim, que os projetos serão executados, nem tampouco que as recompensas oferecidas serão honradas por quem lançou o projeto (Criador).</p>
    <p>É de responsabilidade única e exclusiva de quem lançou o projeto (Criador) o resultado dele, a entrega das eventuais recompensas prometidas e o ressarcimento por eventual dano experimentado por quem apoiou, oriundo de ação ou omissão de quem lançou o projeto.<span class="Apple-converted-space"> </span></p>
    <p>8. Registro e Acesso</p>
    <p>a) NÃO É AUTORIZADA a participação de USUÁRIOS menores de dezoito anos de idade, sem a autorização de um responsável. Caso seja verificada eventual infração desta disposição, a ALSTER poderá cancelar, de imediato, o cadastro do USUÁRIO e quaisquer Campanhas sob responsabilidade do USUÁRIO.</p>
    <p>b) Lembramos que a informação incorreta de dados pessoais, tais como a idade, é crime punido pela legislação brasileira com pena de 1 a 5 anos de reclusão e multa (art. 299 do Código Penal Brasileiro).<span class="Apple-converted-space"> </span></p>
    <p>c) Qualquer pessoa maior de idade pode utilizar os serviços da ALSTER. Você pode acessar a ALSTER de duas maneiras:<span class="Apple-converted-space"> </span></p>
    <p>(i) cadastrando-se diretamente na ALSTER, através da criação de uma ID e senha, prestando as informações solicitadas; ou<span class="Apple-converted-space"> </span></p>
    <p>(ii) utilizando a rede social Facebook e efetuando posteriormente seu cadastro na ALSTER. Neste caso, o USUÁRIO autoriza a ALSTER a utilizar suas informações de registro naquela rede social exclusivamente para completar seu cadastro na ALSTER. A ALSTER tem acesso apenas às informações públicas do usuário no Facebook.<span class="Apple-converted-space"> </span></p>
    <p>d) O USUÁRIO é o único responsável pela segurança de seu nome de USUÁRIO e senha. É por meio desses dados que o USUÁRIO pode acessar e alterar suas informações pessoais e outros dados de seu cadastro.<span class="Apple-converted-space"> </span></p>
    <p>e) Caso haja qualquer suspeita de uso indevido ou não autorizado de sua conta, o USUÁRIO deve notificar imediatamente a ALSTER através do info@alster.esp.br.</p>
    <p>f) a ALSTER obriga-se a utilizar as informações cadastrais fornecidas pelo USUÁRIO exclusivamente na forma e nos limites do quanto necessário para a realização da aproximação entre quem apoia um projeto e quem lança um projeto na forma aqui prevista.<span class="Apple-converted-space"> </span></p>
    <p>g) O USUÁRIO concorda em: (i) Fornecer informações verdadeiras, exatas, atuais e completas quando for realizar seu cadastro para acesso ao site;<span class="Apple-converted-space"> </span></p>
    <p>(ii) Conservar e atualizar suas informações de forma a mantê-las verdadeiras, exatas, atuais e completas;<span class="Apple-converted-space">  </span>(iii) Ser responsabilizado por qualquer informação falsa, incorreta, desatualizada ou incompleta fornecida.</p>
    <p>h) Caso a ALSTER tenha razões suficientes para suspeitar da veracidade e/ou da exatidão de tais informações, terá o direito de suspender ou cancelar, imediatamente e independente de qualquer aviso ou notificação, a conta do USUÁRIO e quaisquer Projetos ou Campanhas sob responsabilidade do USUÁRIO.<span class="Apple-converted-space"> </span></p>
    <p>h) Permitir que a ALSTER entregue os dados cadastrais de quem lançou o projeto (Criador), disponíveis nos servidores da ALSTER ou dos meios de pagamento, a quem apoiou o projeto (Apoiador), em caso de violação aos Termos de Uso, falha no cumprimento do Projeto ou Campanha, atraso na entrega das recompensas, ou Denúncias reiteradas (mais de 3 denúncias sobre o mesmo PROJETO ou o mesmo quem lançou o projeto). Os dados cadastrais que poderão ser fornecidos são: nome completo ou razão social, endereço, CPF ou CNPJ, telefone e e-mail, nos limites do inciso VIII, do art. 7º da Lei 12.965 (“Marco Civil da Internet”).</p>
    <p>9. Reembolsos</p>
    <p>Quando um projeto não alcançar a quantia desejada, os valores “doados” ao projeto mediante a Modalidade “só a vitória interessa” serão devolvidos pela ALSTER aos apoiadores.</p>
    <p>Para as quantias pagas por meio de cartão de crédito, a devolução será realizada na próxima fatura ou na fatura subsequente do cartão de crédito.</p>
    <p>Se o pagamento tiver sido feito através de boleto bancário, a devolução será realizada através de depósito na conta bancária indicada pelo Apoiador, assim que solicitado pela ALSTER. Caso não seja fornecida a conta bancária para devolução, a ALSTER manterá os valores disponíveis para devolução pelo prazo máximo de 90 dias.</p>
    <p>Os apoiadores via Modalidade “só a vitória interessa” que optaram pela modalidade boleto bancário, serão informados pela ALSTER que o PROJETO não foi financiado e deverão fornecer os dados de sua conta bancária para que a devolução possa ser realizada. A ALSTER destaca que nesse caso a devolução não pode ser feito automaticamente, considerando que no momento da realização do APOIO não serão solicitados os dados bancários de quem apoiou e optou pelo pagando via boleto bancário.</p>
    <p>Quem apoiou está ciente que, caso não forneça seus dados bancários quando informado pela ALSTER que o PROJETO apoiado não foi FINANCIADO, não será possível à ALSTER realizar o ESTORNO. Nesse caso, por mera liberalidade, a ALSTER manterá os valores disponíveis para resgate por 90 dias a contar da data de encerramento do PROJETO. Passado esse período, considerar-se-á efetivada uma cessão do crédito irrevogável e irretratável de quem apoiou à ALSTER, que portanto fica expressamente autorizado por quem apoiou dar a destinação que melhor lhe aprouver aos valores mantidos na plataforma, momento a partir do qual quem apoiou perderá a possibilidade de reclamar tais quantias a qualquer título e a qualquer tempo.<span class="Apple-converted-space"> </span></p>
    <p>Caso a Campanha não atinja a Meta prevista, e o Criador opte por desistir da Campanha, não executando o projeto previsto na Campanha, os valores arrecadados serão devolvidos aos Apoiadores, no prazo de 90 dias a partir da desistência do Criador, independentemente da Modalidade de apoio escolhida.</p>
    <p>10. Taxas e pagamentos</p>
    <p>Quem apoiou e quem lançou o projeto estão plenamente cientes e concordam que todos os valores destinados ao apoio de Campanhas só poderão ser arrecadados por meio de cartão de crédito ou boleto bancário, (conforme opção de quem apoia), sendo depositados em conta de titularidade da ALSTER.</p>
    <p>Encerrada a Campanha após o decurso do prazo determinado, o valor total arrecadado ficará disponível para ser resgatado por seu Criador por 90 dias contados a partir da data de encerramento, descontando-se o montante de 12% (doze por cento) referente à taxa de intermediação da ALSTER (Taxa Alster) e às tarifas cobradas pelos meios de pagamento. No período em que os valores arrecadados permanecerem sob a gestão da ALSTER, eventuais rendimentos de aplicações financeiras poderão ser incorporados ao valor arrecadado e compor a base sobre a qual incidirá, no momento do resgate, a taxa acima mencionada.<span class="Apple-converted-space"> </span></p>
    <p>Os valores doados através da Modalidade “só a vitória interessa” serão devolvidos aos Apoiadores caso a Campanha não atinja seu objetivo final, antes do desconto referente à Taxa Alster. A data de disponibilização dos valores arrecadados poderá variar de acordo com a forma e o meio com que os apoios tenham sido efetuados.</p>
    <p>Caso a Campanha seja financiada, isto é, atinja 100% da Meta, os valores arrecadados pela Modalidade “só a vitória interessa” não serão devolvidos, em qualquer hipótese.</p>
    <p>Se a Campanha não for financiada, não atingindo o mínimo de 100% da Meta, apenas os Apoiadores via Modalidade “só a vitória interessa” receberão a devolução dos valores “doados”; Os valores “doados” pelos Apoiadores via Modalidade “esporte em primeiro lugar” serão transferidos ao Criador, independentemente do sucesso da Campanha, após os descontos das taxas previstas.<span class="Apple-converted-space"> </span></p>
    <p><span class="Apple-converted-space"> </span></p>
    <p>Salvo disposição em contrário, todas as taxas são cotadas em Reais (R$). O USUÁRIO é o responsável pelo pagamento de todas as taxas e impostos associados com o uso da ALSTER, incluindo, mas não se limitando à taxa de intermediação da ALSTER (12%) e taxas ou tarifas praticadas pelos meios de pagamento, assim como quaisquer impostos ou tributos que incidam ou venham a incidir sobre o PROJETO ou sobre a aproximação entre quem apoia e quem lança o projeto.</p>
    <p>Caso um PROJETO seja retirado da ALSTER por violação dos Termos de Uso, violação de normas legais ou por ordem judicial, os valores pagos por quem apoiou poderão não ser reembolsados, caso quem apoiou, tendo conhecimento de tal violação, não a tenha denunciado à ALSTER através do info@alster.esp.br.</p>
    <p>Tendo em vista que os serviços bancários e de cartões de crédito são independentes da ALSTER, estes possuem exclusiva responsabilidade pelos pagamentos processados e respondem pelas falhas na utilização de seus meios de pagamento.<span class="Apple-converted-space"> </span></p>
    <p>11. Contestação de Pagamentos</p>
    <p>A ALSTER não se responsabiliza por eventuais contestações de pagamento ou cancelamento de apoios. Assim, sempre que um apoio for, por alguma razão, frustrado, seja por causas imputadas a quem lançou o projeto, a quem apoiou ou a terceiros, a ALSTER fica autorizada a deduzir, a qualquer tempo, do saldo de quem lançou o projeto os valores referentes a transações de algum modo bloqueadas, canceladas ou contestadas. Na eventualidade de inexistir saldo financeiro do projeto suficiente para cobrir o valor do apoio frustrado, quem lançou o projeto será responsável por providenciar o ressarcimento do valor para a ALSTER.</p>
    <p>12. Direitos de propriedade intelectual</p>
    <p>A ALSTER é titular dos direitos de propriedade intelectual referentes a seu próprio serviço, que são protegidos pelas leis brasileiras e por tratados internacionais. Os direitos da ALSTER não incluem quaisquer direitos relacionados ao conteúdo criado pelos USUÁRIOS e exibidos na ALSTER.<span class="Apple-converted-space"> </span></p>
    <p>Quem lançou o projeto declara possuir os direitos de propriedade intelectual de seus próprios PROJETOS, sem qualquer participação de quem apoia ou da ALSTER, gozando de toda a proteção do sistema jurídico brasileiro, notadamente da lei de direitos autorais (Lei n° 9.610/98) e lei de propriedade industrial (Lei n° 9.279/96).</p>
    <p>Entretanto, quem lança o projeto está ciente de que, ao utilizar a ALSTER, estão tentando arrecadar fundos para seu PROJETO publicamente e, com isso, assumem o risco de que sua ideia seja copiada e desenvolvida por terceiros. A ALSTER não pode impedir que isso ocorra, nem tem responsabilidade sobre essa situação, que foge completamente de seu controle.</p>
    <p>13. Conteúdo da ALSTER</p>
    <p>A ALSTER é uma plataforma online que permite a publicação de conteúdo de USUÁRIOS tais como projetos e comentários, sem monitoramento nem análise prévia.</p>
    <p>A ALSTER não assume responsabilidade pelo conteúdo gerado por seus USUÁRIOS, nem tem qualquer obrigação de monitorar esse conteúdo.<span class="Apple-converted-space"> </span></p>
    <p>Quem lança o projeto autoriza a ALSTER a utilizar vídeos, textos e conteúdo inserido na página do respectivo PROJETO para fins não comerciais, tais como: materiais de divulgação do site, peças gráficas, publicações e vídeos da ALSTER, inscrições em editais públicos ou privados, concursos, prêmios e afins.</p>
    <p>A ALSTER não está autorizada a fazer uso comercial deste material, ou expor quem lançou o projeto e/ou os PROJETOS a situações inapropriadas ou pejorativas.<span class="Apple-converted-space"> </span></p>
    <p>A ALSTER reserva-se o direito de acessar, ler, preservar e divulgar quaisquer informações necessárias para cumprir estes Termos de Uso, obedecer disposições legais ou atender a ordens judiciais, com o que desde já concordam os USUÁRIOS, autorizando expressamente a ALSTER a acessar, ler, preservar e divulgar tais informações para os fins e nas circunstâncias aqui descritas.<span class="Apple-converted-space"> </span></p>
    <p>A ALSTER também se reserva o direito de remover ou não veicular, integral ou parcialmente, qualquer conteúdo de USUÁRIO, a seu exclusivo critério, especialmente se suspeitar ou tiver indícios de que o USUÁRIO tenha violado direito de terceiros.</p>
    <p>A ALSTER reserva-se, ainda, o direito de, a seu exclusivo critério e uma vez notificado a respeito, excluir informações de projetos consideradas por terceiros como ilícitas, conforme detalhado abaixo:<span class="Apple-converted-space"> </span></p>
    <p>14. Armazenamento dos Dados e Informações</p>
    <p>Todos os dados e informações coletados dos visitantes serão incorporados ao banco de dados da ALSTER.</p>
    <p>Os dados e informações coletados estarão armazenados em ambiente seguro, observado o estado da técnica disponível, e somente poderão ser acessadas por pessoas qualificadas e autorizadas pela ALSTER.</p>
    <p>Tendo em vista que nenhum sistema de segurança é 100% seguro, a ALSTER se exime de quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes de falhas, vírus ou invasões do banco de dados da empresa, salvo nos casos de dolo ou culpa pela mesma.</p>
    <p>As informações coletadas dos visitantes da ALSTER poderão ser utilizadas para as seguintes finalidades de:</p>
    <p>1. Responder a eventuais dúvidas e solicitações dos visitantes;</p>
    <p>2. Cumprimento de ordem legal ou judicial;</p>
    <p>3. Constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo;</p>
    <p>4. Elaborar estatísticas gerais, para identificação do perfil dos visitantes e desenvolvimento de campanhas sem realizar identificação pessoal;</p>
    <p>5. Garantir a segurança dos visitantes;</p>
    <p>6. Informar a respeito de novidades, promoções e eventos;</p>
    <p>7. Fornecer a base de dados à terceiros interessados e fomentadores da plataforma.</p>
    <p>15. Preservação e Remoção de Conteúdo</p>
    <p>Considerando que a ALSTER não é criadora do conteúdo produzido e publicado pelos USUÁRIOS e que não há controle editorial prévio, a ALSTER, nos termos da legislação aplicável, não é objetivamente responsável pelo que é divulgado na plataforma.</p>
    <p>Ainda assim, a ALSTER oferece mecanismos eficientes para que qualquer pessoa que entenda ter tido algum direito seu violado possa fazer denúncias e busque resolver suas disputas, conforme abaixo indicado.<span class="Apple-converted-space"> </span></p>
    <p>Caso alguém entenda que algum conteúdo publicado na plataforma viole seus direitos de personalidade (a honra, a imagem, a voz, o nome, a intimidade etc.) ou seus direitos de propriedade intelectual (direitos autorais, marca, patente, desenhos industriais) poderá enviar uma reclamação através do info@alster.esp.br.</p>
    <p>Uma vez enviada a reclamação e constatada a violação alegada, a ALSTER providenciará a remoção, integral ou parcial, do conteúdo no prazo de até 7 (sete) dias, dando ciência ao notificante e informando ao denunciado a sanção a ele aplicável, que poderá ser até o cancelamento definitivo do seu PROJETO ou cadastro, a critério exclusivo da ALSTER.<span class="Apple-converted-space"> </span></p>
    <p>Caso a violação alegada não seja objetivamente constatada, a ALSTER não estará obrigada a providenciar a remoção do conteúdo, e as partes serão cientificadas que foi instaurada uma disputa cuja decisão está além das prerrogativas da ALSTER, e que a remoção do conteúdo só será efetivada mediante ordem judicial nesse sentido.<span class="Apple-converted-space"> </span></p>
    <p>Notificar a plataforma a respeito de uma violação de direitos é um assunto sério com consequências jurídicas. Em caso de dúvida sobre a infração, recomenda-se buscar orientação jurídica. Antes de enviar uma notificação, o USUÁRIO deve sempre lembrar que existem exceções e limitações aos direitos de cada um. O envio de denúncias enganosas sobre infrações pode ser punível por lei.<span class="Apple-converted-space"> </span></p>
    <p>16. Penalidade</p>
    <p>A ALSTER poderá alterar projetos, cancelar projetos e encerrar as contas de quem lançou o projeto que violem ou sejam suspeitos pela ALSTER ou pelos seus USUÁRIOS de violar os direitos de propriedade intelectual de terceiros ou outros direitos, assegurados pela legislação brasileira.<span class="Apple-converted-space"> </span></p>
    <p>17. Lei aplicável</p>
    <p>Estes termos de serviço são regidos única e exclusivamente pelas leis brasileiras, sendo que qualquer ação judicial relativa à sua interpretação ou aplicação deverá ser processada e julgada pelo Poder Judiciário Brasileiro.<span class="Apple-converted-space"> </span></p>
    <p>O foro eleito para resolução de eventuais conflitos é Foro Central da cidade de Porto Alegre, com exclusão de qualquer outro, por mais privilegiado que seja.</p>
  </div>
</div>
