<p>Olá <%= @user.name.titleize %>, </p>

<p>A sua doação para o projeto <%= link_to @project.name, project_url(@project) %> está sendo processada! </p>

<div style="background-color: #f6f6f6; padding: 20px; border-radius: 6px;">
  <h2> Dados da Doação </h2>
  <p> Projeto: <%= link_to @project.name, project_url(@project) %> </p>
  <p> Recompensa: <i><%= (@reward.present? && @reward.description.present?) ? @reward.description : "Descrição não informada" %></i></p>
  <p> Total Doado: <%= number_to_currency(@amount, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %> </p>
  <%= link_to "Imprimir Boleto", @payment_url, target: :blank unless @payment_url.blank? %>
</div>
