<p>Olá <%= @user.name %>,</p>

<p>O site da Alster está de cara nova. Com um layout novo e moderno, lançamos nossa nova versão recentemente e por isso estamos te enviando novos dados de acesso ao site.</p>

<p>Confira seus novos dados de acesso ao site da Alster.esp.br</p>

<div style="background-color: #f6f6f6; padding: 20px; border-radius: 6px;">
  <p><strong>Nome de Usuário:</strong> <%= @user.email %></p>
  <p><strong>Nova Senha de Acesso:</strong> <%= @password %></p>
</div>

<p>Acreditamos no <strong>poder transformador da prática esportiva</strong> na formação e educação das pessoas, de todas as idades, trazendo benefícios imensuráveis à educação e à saúde.</p>

<p>Mas isso só é possível com a ajuda de pessoas como você. <strong>Seu apoio é fundamental</strong> para que o esporte brasileiro seja cada vez mais forte.</p>

<p><strong>Nosso muito obrigado!</strong></p>
