<h2>Altere sua Senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "Nova Senha" %><br />
    <% if @minimum_password_length %>
      <em>(com no mínimo <%= @minimum_password_length %> caracteres)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme a Nova Senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
