<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: 'E-mail', autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar instruções por email", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
