    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mbxl text-center">
            <h4>Navegue</h4>
            <ul class="list-unstyled">
              <li><%= link_to "Quem Somos", about_path %></li>
              <li><%= link_to "Contato", contact_path %></li>
              <li><%= link_to "Comece sua campanha", new_project_path %></li>
              <li><%= link_to "Campanhas", projects_path %></li>
            </ul>
          </div>
          <div class="col-lg-4 mbxl text-center">
            <h4>Ajuda</h4>
            <ul class="list-unstyled">
              <li><%= link_to "Termos de Uso", terms_path %></li>
            </ul>
          </div>
          <div class="col-lg-4 text-center">
            <div class="mbl">
              <h4>Newsletter</h4>
              <%= simple_form_for 'newsletter', url: newsletter_index_path, remote: true, html: { class: "form-inline" } do |f| %>
                <div class="input-group newsletter-field mb-4">
                <%= f.input 'email', required: true, label: false, placeholder: 'Digite seu email...', class: 'align-top', input_html: {id: "newsletter-email-input"}%>
                  <div class="input-group-append newsletter-append">
                    <%= f.submit "Enviar", class: "btn btn-secondary newsletter-field-submit form-group" %>
                  </div>
                </div>
              <% end %>
            </div>

            <h4>Nos acompanhe</h4>
            <ul class="list-inline social-footer">
              <li class="list-inline-item"><i class="fab fa-2x fa-twitter"></i></li>
              <li class="list-inline-item"><i class="fab fa-2x fa-facebook-f"></i></li>
              <li class="list-inline-item"><i class="fab fa-2x fa-instagram"></i></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row text-center justify-content-center">
          <p class="col-auto">Copyright © 2018 InovaWork</p><br>
          <p class="col-12">Todos os direitos reservados</p>
          <p class="col-auto"><%= image_tag 'moblive.png' %></p>
        </div>
      </div>
    </footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110460483-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110460483-1');
  </script>
  </body>
</html>
