<div id="mobile-navbar" class="navbar-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNavOverlay()">&times;</a>
  <div class="navbar-overlay-content">
    <%= render "shared/navbar_menu" %>
  </div>
</div>
