<ul class="navbar-nav ml-auto">
  <% if signed_in? %>
    <li class="nav-item d-block d-lg-none">
      <%= link_to "Minha Conta", edit_user_registration_path, class: "nav-link" %>
    </li>
    <% end %>
  <li class="nav-item">
    <%= link_to "Quem Somos", about_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Campanhas", projects_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Notícias", posts_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Contato", contact_path, class: "nav-link" %>
  </li>
  <% if !signed_in? %>
    <li class="nav-item">
      <%= link_to "Login ou Cadastro", new_user_session_path, class: 'nav-link' %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= form_for Project.new, url: projects_path, method: :get, html: { class: "my-lg-0 my-2" } do |f| %>

      <%= f.button :button, class: 'dnone' %>
      <%= link_to "Crie sua campanha", new_project_path, class: "btn btn-negative" %>
    <% end %>
  </li>
</ul>
