<nav class="navbar paxl navbar-expand-lg navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" onclick="openNavOverlay()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/navbar_menu" %>
    <div class="d-none d-lg-block">
      <%= render "shared/signed_dropdown" %>
    </div>
  </div>

  <%= render "shared/mobile_navbar" %>
</nav>
