<% if signed_in? %>
  <div class="dropdown show">
    <a class="dropdown-toggle" href='#' role="button" id="dropdown_menu" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false' >
      <% unless current_user.avatar_url.blank? %>
        <%= image_tag current_user.avatar_url, width:100, height:100, class: 'navbar-avatar img-fluid project--user' %>
      <% else %>
        <%= image_tag current_user.image_url, class: 'navbar-avatar img-fluid project--user' %>
      <% end %>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-custom-style" aria-labelledby="dropdown_menu">
      <%= link_to "Minha Conta", edit_user_registration_path, class: "nav-link dropdown-item" %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link dropdown-item" %>
    </div>
  </div>
<% end %>
