<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Menu</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="<%= 'active' if is_active_controller?('manager/dashboard') %>">
              <%= link_to manager_root_path do %>
                <i class="icon mdi mdi-desktop-mac"></i> <span><%= t("controller_name.manager/dashboard") %></span>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller?('manager/projects') %>">
              <%= link_to manager_projects_path do %>
                <i class="icon mdi mdi-star-circle"></i> <span><%= t("controller_name.manager/projects") %></span>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller?('manager/conversations') %>">
              <%= link_to manager_conversations_path do %>
                <i class="icon mdi mdi-comments"></i> <span><%= t("controller_name.manager/conversations") %></span>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller?('manager/users') %>">
              <%= link_to manager_users_path do %>
                <i class="icon mdi mdi-account"></i> <span><%= t("controller_name.manager/users") %></span>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller?('manager/backers') %>">
              <%= link_to manager_backers_path do %>
                <i class="icon mdi mdi-money"></i> <span><%= t("controller_name.manager/backers") %></span>
              <% end %>
            </li>
            <li class="<%= 'active' if is_active_controller?('manager/rewards') %>">
              <%= link_to manager_rewards_path do %>
                <i class="icon mdi mdi-star"></i> <span><%= t("controller_name.manager/rewards") %></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
