<% content_for :bn, 'bn-home' %>

<% content_for :head do %>
  <div class="row header-description">
    <div class="col-lg-6">
      <div class="paxl">
        <h1 class="pal text-negative">Muito mais que um financiamento coletivo voltado para o esporte.</h1>
      </div>
    </div>
  </div>
<% end %>
<div class="bg-light content">
  <div class="container">
    <h2 class="text-primary pbxl">Campanhas</h2>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="owl-carousel">
          <% @projects.each do |project| %>
            <%= render 'projects/box', project: project %>
          <% end %>
        </div>
        <div id="owl-dots-container" class="owl-dots"></div>
      </div>
      <%= render 'projects/box_new' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h2 class="text-secondary text-center pbxl">Como criar sua campanha</h2>
    <div class="row">
      <div class="col-md-12 col-lg-4 text-center">
        <div class="box-content">
          <i class="far fa-file-alt fa-3x text-secondary"></i>
          <h3 class="pvl">Faça seu cadastro</h3>
          <p>Crie a sua conta com login e senha. Assim que montar o rascunho, entraremos em contato para colocar sua campanha no ar.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 text-center">
        <div class="box-content">
          <i class="fas fa-share-alt fa-3x text-secondary"></i>
          <h3 class="pvl">Divulgue sua campanha</h3>
          <p>Aqui só depende de você! Embora a Alster esteja sempre do seu lado dando o apoio para que tudo der certo, o sucesso do seu crowdfunding é diretamente relacionado com a divulgação que você mesmo faz para amigos, parentes ou até mesmo desconhecidos.</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 text-center">
        <div class="box-content">
          <i class="fas fa-hand-holding-usd fa-3x text-secondary"></i>
          <h3 class="pvl">Receba seu incentivo</h3>
          <p>Assim que a campanha encerrar, você receberá o seu dinheiro, e poderá realizar o seu objetivo. </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "Crie sua campanha", new_project_path, class: "btn btn-spaced btn-secondary" %>
    </div>
  </div>
</div>

<%= render "abouts/testimonials" %>
