<p>Olá <%= @backer_user.name.titleize %>, </p>

<p>O projeto <a href=""><%= @project_name %></a> apoiado por você postou a seguinte atualização: </p>

<div style="background-color: #f6f6f6; padding: 20px; border-radius: 6px;">
  <h2> <%= @project_update.title %> </h2>
  <p> <%= @project_update.description %> </p>
</div>

