<% content_for :bn, 'bg-testimonials' %>

<div class="container">
  <div class="content contact-box">
    <div>
      <%= form_tag contact_path do |f| %>
        <h3 class="title text-center">Contato</h3>
        <p class="text-center">Entre em contato conosco</p>
        <div class="form-group">
          <%= label :name, "Seu nome" %><br />
          <%= text_field :contact, :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label :email, "Seu e-mail" %><br />
          <%= email_field :contact, :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label :subject, "Assunto" %><br />
          <%= text_field :contact, :subject, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label :message, "Mensagem" %><br />
          <%= text_area :contact, :message, rows: 8, class: "form-control" %>
        </div>

        <p class="text-center">
          <%= submit_tag "Enviar mensagem", class: 'btn btn-outline-primary btn-spaced' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
