<div class="box box-project">
  <%= link_to project_path(project) do %>
    <% if project.image_url.present? %>
    <div class="project-thumb img-fluid" style='background-image: url(<%= project.image_url %>)'></div>
    <% else %>
      <%= image_tag 'bn.jpg', class: 'box-image-cover' %>
    <% end %>
    <span class="project--progress-percent">
      <%= project.progress.to_i %>%
    </span>
    <div class="box-content box-content-text">
      <h4><%= project.name %></h4>
      <p class="box-project-summary"><%= project.summary %></p>
      <% if has_unread_messages?(project.conversations.last, current_user) %>
        <p>Mensagens Não Lidas <%= unread_conversation_badge(project.conversations.last, current_user) %></p>
      <% end %>
    </div>
    <%= render 'projects/progress', project: project %>
    <div class="box-content">
      <div class="row">
        <div class="col-auto">
          <strong class="text-secondary"><%= amount_to_real project.total %></strong>
        </div>
        <div class="col-auto ml-auto">
          <%= show_time_left project %>
        </div>
      </div>
    </div>
  <% end %>
</div>
