<div class="col-lg-4 col-sm-12">
  <div class="box box-project box-new">
    <div class="box-content text-center">
      <%= link_to new_project_path do %>
        <i class="fas fa-plus-circle fa-8x mbxl text-muted"></i>
      <% end %>
      <h3 class="ptxl pbxl">Sua campanha aqui</h3>
      <p class="pbxl">A Alster estará sempre do seu lado dando o apoio para que tudo der certo. Assim que a campanha encerrar, você receberá o seu dinheiro, e poderá realizar o seu objetivo.</p>
      <%= link_to "Crie sua campanha", new_project_path, class: "btn btn-secondary btn-block btn-spaced" %>
    </div>
  </div>
</div>
