<% if project.awaiting_approval? %>
  <div class="alert alert-warning text-center mbxl">
    Aguardando Aprovação pela Equipe da Alster!
  </div>
<% end %>

<% if project.rejected? %>
  <div class="alert alert-danger text-center mbxl">
    Ajuste seu projeto de acordo com o solicitado pela Equipe da Alster!
  </div>
<% end %>

<%= simple_form_for project, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: "Nome da Campanha", required: true %>
  <small class="form-text text-muted">Dê um nome que as pessoas se lembrem facilmente. Não ultrapasse 50 caracteres.</small>

  <%= f.input :goal, label: "Meta em R$", placeholder: 'Meta à ser arrecadada', required: true %>

  <%= f.input :expires_at, as: :date, order: [:day, :month, :year], label: "Prazo da campanha", placeholder: '', required: true %>

  <%= f.association :project_category, collection: @project_categories.ordered_by_name, label: "Modalidade da Campanha", placeholder: "- Selecione uma modalidade -" %>
  <small class="form-text text-muted">Escolha a mais adequada à sua campanha.</small>

  <%= f.input :headline, label: "Frase de Cabeçalho" %>

  <div class="input-big">
    <%= f.input :about, label: "Descrição da Campanha", required: true %>
  </div>

  <div class="row pbxl">
    <div class="col-md-12 col-lg-6 upload">
      <label for="">Imagem da Campanha</label>
      <%= f.filestack_field :image_url, 'Enviar imagem', id: "header", pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.onUpload(event)', class: 'btn btn-secondary btn-upload btn-block' %>
    </div>
    <div class="col-md-12 col-lg-6 upload">
      <label for="">Orçamento da Campanha</label>
      <%= f.filestack_field :budget_image_url, 'Enviar imagem', id: "budget", pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.onUpload(event)', class: 'btn btn-secondary btn-upload btn-block' %>
    </div>
  </div>

  <%= f.input :video_url, as: :string, label: "Vídeo do Youtube / Vimeo" %>
  <small class="form-text text-muted">Caso você já tenha produzido um vídeo da campanha, basta colar o link dele.</small>

  <div id="bank_account" class="mbxl">
    <h3> Conta Bancária </h3>
    <%= f.simple_fields_for :bank_account do |b| %>
      <%= b.input :bank_code, label: "Código do Banco" %>
      <%= b.input :agency, label: "Agência" %>
      <%= b.input :agency_vd, label: "Dígito Verificador da Agência", input_html: { class: "col-md-2" } %>
      <%= b.input :account, label: "Conta" %>
      <%= b.input :account_vd, label: "Dígito Verificador da Conta", input_html: { class: "col-md-2" } %>
      <%= b.input :document_number, label: "Número do Documento" %>
      <%= b.input :legal_name, label: "Nome do Titular" %>
    <% end %>
  </div>

  <div id="rewards" class="mbxl fieldset-block">
    <h3 class="text-primary">Recompensas</h3>

    <%= f.simple_fields_for :rewards do |reward| %>
      <%= render "reward_fields", f: reward %>
    <% end %>
    <div class="links">
      <hr>
      <%= link_to_add_association 'Adicionar Recompensa', f, :rewards, class: 'btn btn-success'  %>
    </div>
  </div>

  <div>
    <%= f.button :button, "Salvar", class: "btn btn-primary" %>
    <%= f.button :button, "Enviar para Aprovação", name: "status", value: "send_to_approve", class: "btn btn-success" if (project.draft? or project.rejected?) %>
    <%= f.button :button, "Publicar", name: "status", value: "publish", class: "btn btn-success" if project.approved? %>
  </div>
<% end %>
