<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: <%= project.progress %>%" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
