<div class="nested-fields">
  <div class="row">
    <div class="col-md-4">
      <%= f.input :position, type: :number, label: "Ordenação" %>
    </div>
    <div class="col-md-4 currency">
      <%= f.input :minimum_value, label: "Valor mínimo", as: :string %>
    </div>
    <div class="col-md-4">
      <%= f.input :maximum_backers, label: "Máximo de contribuições" %>
    </div>
    <div class="col-12">
      <%= f.input :delivery_date, label: "Data Estimada de Entrega" %>
    </div>
  </div>
  <%= f.input :observation_description, label: "Observações", placeholder: "Tamanho e cores disponíveis, endereço de entrega, etc ... " %>
  <%= f.input :description, label: "Descrição" %>
  <%= f.filestack_field :image_url, 'Enviar imagem', input_id: "#{f.object_id}", pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.Rewards.onUpload(event)',class: 'btn btn-secondary btn-upload btn-block mbl' %>

  <%= link_to_remove_association "Remover Recompensa", f, class: 'btn btn-danger'  %>
</div>
