<% content_for :bn, 'bn-projects' %>

<% content_for :head do %>
<% end %>

<div class="bg-light content">
  <div class="container">
    <% if @project_drafts.present? %>
      <h2 class="text-primary pbxl">Campanhas em Rascunho</h2>

      <% @project_drafts.each_slice(3) do |drafts| %>
        <div class="row">
          <% drafts.each do |draft| %>
            <%= render 'projects/box_wrapper', project: draft %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <h2 class="text-primary pbxl">Campanhas</h2>

    <% @projects.each_slice(3) do |projects| %>
      <div class="row">
        <% projects.each do |project| %>
          <%= render 'projects/box_wrapper', project: project %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
