<% content_for :bn, 'bn-projects' %>

<% content_for :head do %>
  <div class="container">
    <h2 class="title project-title text-negative">Crie sua campanha</h2>
  </div>
<% end %>

<div class="bg-light content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="phl">
          <h4>1. Comece sua campanha</h4>
          <p>É importante começar... Um ótimo primeiro passo para transformar sua ideia em uma campanha de financiamento coletivo é escrever um rascunho na Alster. Estaremos aqui pra ajudar.</p>

          <h4 class="ptl">2. Estude e planeje</h4>
          <p>Produza a sua campanha com carinho e no tempo certo. Planejar uma boa campanha é fator decisivo para o sucesso do seu financiamento coletivo. Disponibilizamos uma série de materiais para te auxiliar!</p>

          <h4 class="ptl">3. Mobilize apoiadores</h4>
          <p>Comunique-se bem durante sua campanha e trate bem seus apoiadores! Eles são a força da sua campanha e são quem realmente vai determinar o sucesso ou não da campanha! A Alster é o caminho de você se aproximar das pessoas que gostam do seu trabalho, expandir essa rede e formar público.</p>
        </div>
      </div>
      <div class="col-md-8">
        <%= render "form", project: @project %>
      </div>
    </div>
  </div>
</div>
