<% content_for :bn, 'bn-projects' %>
<% content_for :bnimage, bn_image(@project) if @project.image_url.present? %>

<% content_for :head do %>
  <div class="container">
    <h2 class="title project-title text-negative"><%= @project.name %></h2>
  </div>
<% end %>

<% if flash[:error].present? %>
  <script type="text/javascript">
    toastr.error("<%= flash[:error] %>")
  </script>
<% end %>

<div class="bg-light content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 order-md-first order-last">
        <ul class="nav nav-pills nav-fill pbxl" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#project">Sobre a campanha</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#updates">Notícias (<%= @project.updates.size %>)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#backers">Apoios (<%= @backers.present? ? @backers.size : 0 %>)</a>
          </li>
          <% if can? :manage, @project %>
            <li class="nav-item">
              <%= link_to 'Editar campanha', edit_project_path(@project), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#conversations">Mensagens <%= unread_conversation_badge(@conversation, current_user) %></a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content" id="myTabContent">

          <!-- Project Details START -->
          <div class="tab-pane fade show active" id="project">
            <% if @project.video_url.present? %>
              <div class="project--embed">
                <%= get_video_iframe(@project.video_url, '100%', '500px') %>
              </div>
            <% end %>
            <h3><%= @project.headline %></h3>
            <p><%= auto_link (simple_format @project.about, :html => { :target => '_blank' }) %></p>
            <% if @project.budget_image_url.present? %>
              <p><%= image_tag @project.budget_image_url, width:850, height:400, class: 'img-fluid' %></p>
            <% end %>
          </div>
          <!-- Project Details END -->

          <!-- Project News START -->
          <div class="tab-pane fade show" id="updates">
            <h3 class="pbxl">Notícias</h3>
            <div class="project-updates">
              <% if @project.updates.present? %>
                <% @project.updates.each do |project_update| %>
                  <%= render "project_updates/card", project_update: project_update %>
                <% end %>
              <% else %>
                <div class="alert alert-primary">
                  Nenhuma notícia para esta campanha
                </div>
              <% end %>
            </div>
            <% if can? :manage, @project %>
              <div class="fieldset-block">
                <%= render "project_updates/form", project: @project %>
              </div>
            <% end %>
          </div>
          <!-- Project News END -->

          <!-- Project Backers START -->
          <div class="tab-pane backer-list fade show" id="backers">
            <h3 class="pbxl">Apoios</h3>
            <% if @backers.present? %>
              <% @backers.each do |backer| %>
                <div class="row backer-list-item">
                  <div class="col-md-2">
                    <%= image_tag (backer.anonymous? ? 'no-image.png' : backer.user.image_url), class: 'img-fluid project--user' %>
                  </div>
                  <div class="col-md-10">
                    <h4><%= backer.anonymous? ? "Anônimo" : backer.user.try(:name) %></h4>
                    <% if can? :manage, @project %>
                      <p><%= amount_to_real backer.try(:value) %>
                      <small class="status_label">(<%= status_label backer %>)</small>
                    <% end %>
                    <br /><%= time_ago_in_words backer.created_at %> atrás</p>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="alert alert-primary">
                Nenhuma apoio realizado para esta campanha
              </div>
            <% end %>
          </div>
          <!-- Project Backers END -->

          <!-- Project Messages START -->
          <div class="tab-pane fade show" id="conversations">
            <h3 class="pbxl">Mensagens</h3>
            <%= render "messages/show", conversation: @conversation %>
          </div>
          <!-- Project Messages END -->
        </div>

      </div>
      <div class="col-lg-4 col-md-5 order-md-last order-first">
        <div class="sidebar">
          <div class="sidebar--user">
            <%= image_tag @project.user.image_url, class: 'sidebar--user__image img-fluid' %>
            <h4 class="sidebar--user__name"><%= @project.user.try(:name) %></h4>
            <% if @project.user.bio.present? %>
              <p><%= @project.user.bio %></p>
            <% end %>
          </div>

          <div>
            <div class="row">
              <div class="col-6">
                <h4 class="sidebar--content text-secondary"><%= @project.progress %>%</h4>
              </div>
              <div class="col-6 sidebar--content__amount">
                <h4 class="sidebar--content"><%= amount_to_real @project.goal %></h4>
              </div>
            </div>
            <%= render "projects/progress", project: @project %>
            <div class="sidebar--content">
              <div class="row">
                <div class="col-auto">
                  <strong class="text-secondary"><%= amount_to_real @project.total %></strong>
                </div>
                <div class="col-auto ml-auto">
                  <%= show_time_left @project %>
                </div>
                <div class="col-12 social-share-div">
                  <%= social_share_button_tag('Share to Facebook', desc: @project.name, :allow_sites => %w(facebook)) %>
                </div>
              </div>
            </div>
            <h5 class="ptl text-center">Quer apoiar esta campanha?</h5>

          <% if project_can_be_backed?(@project)%>
              <div class="sidebar--box reward_nil">
                <h3>Escolha o valor</h3>
                <p>Não quero recompensa, apenas apoiar esta campanha</p>
                <%= render 'checkouts/form', project: @project, reward: nil, id: nil %>
              </div>
            <% end %>

            <% if @project.rewards.present? %>
              <% @project.rewards.order_by_position.each do |reward| %>
                <div class="sidebar--box <%= dom_id(reward) %>">
                  <%= image_tag reward.image_url, class: 'img-fluid pbxl' if reward.image_url.present? %>
                  <h3><%= amount_to_real reward.minimum_value %> ou mais</h3>
                  <p><%= reward.description %></p>
                  <% if reward.delivery_date.present? %>
                    <h6>Entrega Estimada:</h6><p><%= format_month_year_date reward.delivery_date %></p>
                  <% end %>
                  <%= render 'checkouts/form', id: dom_id(reward), reward: reward if reward_can_be_backed?(reward) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
