<%= simple_form_for [:manager, @user], wrapper: :vertical_form do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: "Nome" %>
  <%= f.input :email, label: "E-mail" %>
  <%= f.input :password, label: "Senha" %>
  <%= f.input :password_confirmation, label: "Confirmar Senha" %>

  <div class="actions text-right ptxl">
    <%= f.button :submit, "Salvar", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
