<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>Data de Cadastro</th>
      <th>Nome</th>
      <th>Email</th>
      <th class="actions" style="width:5%;"></th>
    </tr>
  </thead>
  <tbody class="no-border-x">
    <% @users.each do |user| %>
      <tr>
        <td><%= format_date user.created_at %></td>
        <td><%= link_to user.name, edit_manager_user_path(user), class: 'icon' %></td>
        <td><%= user.email %></td>
        <td class="actions">
          <%= link_to raw("<i class='mdi mdi-plus-circle-o'></i>"), edit_manager_user_path(user), class: 'icon' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
