.bn {
  h1 {
    font-weight: 600;
    border-left: 10px solid #fff;
    padding-left: 50px;
    line-height: 1.5em;
  }

  h2.title {
    position: absolute;
    bottom: 50px;
    font-size: 48px;
    width: 800px;
  }
}

.bn-home {
  height: 720px;
  background-size: cover;
  background-image: $bg-gradient, asset-url('bn.jpg');
  background-position: center center;
  position: relative;

  .row {
    position: absolute;
    bottom: 10px;
  }
}

.bn-devise {
  min-height: 1000px;
  background-size: cover;
  background-image: $bg-gradient, asset-url('bn-devise.jpg');
}

.bn-projects {
  height: 470px;
  background-size: cover;
  background-image: $bg-gradient, asset-url('bn-projects.jpg');
  background-position: center center;
  position: relative;
}
