.box {
  background: #fff;
}

.box-image-cover {
  width: 100%;
  height: 200px;
}

.box-content {
  padding: 40px;
  word-wrap: break-word;
}

.box-project {
  overflow: hidden;
  min-height: 650px;
  margin-bottom: 40px;
  position: relative;

  a:hover {
    text-decoration: none;
    color: inherit;
  }
}

.box-content-text {
  min-height: 290px;
}

.box-project-summary {
  min-height: 100px;
}

.box-post-link, .box-post-link:hover {
  text-decoration: none;
}

.box-post-summary {
  min-height: 100px;
  text-decoration: none;
  color: inherit;
}

.box-image-post-cover {
  width: 100%;
  height: 400px;
  margin: 15px 0;
}

.box-post-date {
  font-style: italic;
  color: gray;
}

@media (max-width: 990px) {
  .box-new {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
  }
}

@media (max-width: 630px) {
  .box-new {
    width: 100%;
  }
}
