.devise {
  .content {
    label, h2, div, button, input {
      color: white;
      font-weight: 300;
      text-transform: none;
    }

    h2 {
      text-align: center;
      font-size: 60px;
      padding: 80px 0 50px 0;
    }

    .form-group {
      padding: 5px 0;
    }

    .actions {
      padding: 10px 0;
    }

    .form-control, .form-control:focus {
      background: transparent;
      border: 1px solid #fff;
      padding: 30px 20px;
      color: white;
      font-size: 18px;
    }

    .form-control::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    .devise-links {
      padding-top: 20px;
    }

    a {
      color: white;
      font-size: 18px;
      text-decoration: underline;
    }

    .omniauth-google_oauth2 {
      display: block;
      margin: 0 auto;

      .google-signin-btn {
        height: 55px;
        width: auto;
      }
    }

    .omniauth-facebook {
      display: block;
      margin: 20px auto;

      .facebook-signin-btn {
        width: 220px;
        background-color: #4065b4;
        border-color: #4065b4;
        text-decoration: none;
      }
    }
  }
}

.omniauth-content {
  margin-bottom: 20px;
}

.separator {
  margin-bottom: 20px;
  margin-top: 20px;
}
