footer {
  background: #333;
  padding: 100px 0;
  color: white;
  font-weight: 300;

  a, a:hover {
    color: white
  }

  .list-inline-item {
    min-width: 40px;
    text-align: center;
  }

  hr {
    margin: 40px 0 60px 0;
    border-top-color: #707070;
  }

  ul {
    padding-top: 30px;
  }

  li {
    padding: 10px 0;
  }

  .social-footer {
    padding-top: 0;
  }

  .newsletter-field {
    margin: 0 auto;
  }
}

@media (max-width: 574px) {
  .newsletter-field {
    display: inline;
  }

  .newsletter-append {
    display: block;
  }

  .newsletter-field-submit {
    text-align: center !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
}
