.owl-nav, .owl-dots {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#owl-dots-container {
  button.owl-dot {
    background: gray;
    border: 1px;
    border-radius: 10px;
    padding: 5px;
    color: inherit;
    user-select: none;
    cursor: pointer;
    margin: 0 7px;
  }
  button.active {
    background: #6AC4B4;
  }
}

.header-description {
  margin-right: 0
}

.box-new .fa-plus-circle {
  color: #6AC4B4 !important;
}

@media (max-width: 426px) {
  .testimonials-box {
    padding: 0;
  }
}

@media (max-width: 376px) {
  .header-description h1{
    font-size: 28px;
  }
}
