#messages-container {
  padding: 5px;
}

#messages {
  height: 450px;
  overflow: auto;
}

.messages-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.messages-sent {
  @extend .messages-item;

  float: right;
  background: #e2e2e2;
}

.messages-received {
  @extend .messages-item;

  float: left;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
}
