.post-center-element {
  margin: 0 auto;
}

.post-categories-filter {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 30px 0;
  margin-top: 0px;
  box-sizing: border-box;
}

.post-empty-category-msg {
  width: 50%;
}

.post-selected-category {
  font-weight: bold;
}

.post-form {
  width: 100%;
}

.post-form-image {
  margin: 15px 0;
}

.post-title {
  font-weight: 700;
  line-height: 4rem;
  font-size: 3.5rem;
  padding-bottom: 30px;
  text-align: left;
}

.post-date {
  font-style: italic;
  font-weight: 400;
  color: gray;
  vertical-align: middle;
}

.post-header {
  padding: 50px 0;
}

.post-divider {
  border: 0;
  border-top: 1px solid #ccc;
}

.post-share {
  padding: 10px 0;
}

.post-body {
  font-size: 1.2rem;
  text-align: left;
}

.post-image {
  @extend .img-fluid;
  height: auto;
  width: auto;
  max-height: 600px;
  min-height: 250px;
  max-width: 100%;
}

.post-image-wrapper {
  width: 100%;
  padding-bottom: 60px
}

@media (max-width: 768px) {
  .post-body {
    font-size: 1rem;
  }

  .post-title {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}
