.project--embed {
  padding-bottom: 30px;
}

.project--user {
  border-radius: 50%;
}

.project--progress-percent {
  position: absolute;
  margin-top: -54px;
  color: white;
  right: -1px;
  font-size: 48px;
  text-shadow: -2px -2px 2px rgba(150, 150, 150, 1);
}

.navbar-avatar {
  height: auto;
  width: 55px;
  margin-left: 10px;
}

.dropdown-custom-style {
  margin-right: 10px;
}

.project-goal-box {
  margin-right: 20px;
}

.status_label {
  color: #888
}

.social-share-div {
  margin-top: 10px;
}

.social-share-button {
  .ssb-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
}

.backer-list-item {
  margin-bottom: 20px
}

.project-title {
  width: auto !important;
  max-width: 800px;
}

.project-thumb {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .project-title {
    font-size: 28px !important;
  }
}
