.sidebar {
  padding: 0 40px;
}

.sidebar--user__image {
  border-radius: 50%;
  border: 10px solid #fff;
  margin-top: -185px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.sidebar--user {
  text-align: center;
}

.sidebar--user__name {
  @extend .text-primary;
  padding: 40px 0 20px 0;
  font-size: 1.25rem;
}

.sidebar--content {
  padding: 20px 0;
}

.sidebar--box {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;

  h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar--user__image {
    margin-top: 0;
  }

  .sidebar--content__amount {
    text-align: right !important;
  }
}
