<%= simple_form_for [:manager, @reward], wrapper: :vertical_form do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :minimum_value, label: "Valor Mínimo" %>
  <%= f.input :maximum_backers, label: "Máximo de Doações" %>
  <%= f.input :description, label: "Descrição" %>
  <%= f.input :image_url, label: "Imagem" %>

  <div class="actions text-right ptxl">
    <%= f.button :submit, "Salvar", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
