<table class="table table-striped table-borderless">
  <thead>
    <tr>      
      <th>Projeto</th>
      <th>Valor Mínimo</th>
      <th>Máximo de Doações</th>            
      <th class="actions" style="width:5%;"></th>
    </tr>
  </thead>
  <tbody class="no-border-x">
    <% @rewards.each do |reward| %>
      <tr>        
        <td><%= link_to reward.project.name, edit_manager_project_path(reward.project), class: 'icon' %></td>
        <td><%= reward.minimum_value %></td>
        <td><%= reward.maximum_backers %></td>            
        <td class="actions">
          <%= link_to raw("<i class='mdi mdi-plus-circle-o'></i>"), edit_manager_reward_path(reward), class: 'icon' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
