<div class="card card-border-color card-border-color-primary">
  <div class="card-body table-responsive">
    <% if @rewards.present? %>
      <%= render 'manager/rewards/list', users: @users %>
    <% else %>
      <div class="paxl">
        <h4 class="text-center">Nenhuma recompensa cadastrada!</h4>
      </div>
    <% end %>
  </div>
</div>
