<h2>Log in</h2>

<div class="omniauth-content">
  <%= render "devise/shared/omniauth_links" %>
</div>

<div class="row justify-content-between list-unstyled">
  <div class="col-md-12 text-center separator">
    <h4> OU </h4>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, placeholder: 'E-mail', autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, placeholder: 'Senha', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="float-right pts"><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Manter Conectado' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

