<%= simple_form_for [:manager, @project], wrapper: :vertical_form do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: "Nome da Campanha" %>

  <%= f.association :user, label: "Usuário", placeholder: "- Selecione o Usuário -" %>

  <%= f.association :project_category, label: "Modalidade da Campanha", placeholder: "- Selecione uma modalidade -" %>

  <%= f.input :about, rows: 10, label: "Descrição da Campanha" %>

  <div class="ptxl pbxl">
    <label for="">Imagem da Campanha</label>
    <div class="row pbxl">
      <div class="form-group col-md-2">
        <%= f.filestack_field :image_url, 'Enviar arquivo', pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Manager.onUpload(event)', id: 'unique-id', input_id: 'unique-input-id', class: 'btn btn-primary btn-upload btn-block' %>
        <div class="image-preview"></div>
      </div>
    </div>
  </div>

  <%= f.input :video_url, as: :string, label: "Vídeo do Youtube / Vimeo" %>

  <%= f.input :slug, label: "Link da sua campanha" %>

  <div id="rewards" class="pal" style="background: #e6e6e6">
    <h3 class="text-primary">Recompensas</h3>

    <%= f.simple_fields_for :rewards do |reward| %>
      <%= render "reward_fields", f: reward %>
    <% end %>
    <div class="links">
      <hr>
      <%= link_to_add_association 'Adicionar Recompensa', f, :rewards, class: 'btn btn-success'  %>
    </div>
  </div>

  <div class="actions text-right ptxl">
    <%= f.button :submit, "Salvar e continuar", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
