<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>Data</th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Usuário</th>
      <th class="number">Meta</th>
      <th class="text-center">Status</th>
      <th class="text-center">Visível</th>
      <th class="actions" style="width:5%;"></th>
    </tr>
  </thead>
  <tbody class="no-border-x">
    <% @projects.each do |project| %>
      <tr>
        <td><%= format_date project.created_at %></td>
        <td><%= link_to project.name, edit_manager_project_path(project), class: 'icon' %></td>
        <td><%= project.project_category.name if project.project_category.present? %></td>
        <td><%= project.user.name if project.user.present? %></td>
        <td class="number"><%= amount_to_real project.goal %></td>
        <td class="text-center"><%= project.status %></td>
        <td class="text-center"><%= project.visible %></td>
        <td class="actions">
          <%= link_to raw("<i class='mdi mdi-plus-circle-o'></i>"), edit_manager_project_path(project), class: 'icon' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
