<div class="card card-border-color card-border-color-primary">
  <div class="card-body table-responsive">
    <% if @projects.present? %>
      <%= render 'manager/projects/list', projects: @projects %>
    <% else %>
      <div class="paxl">
        <h4 class="text-center">Nenhuma campanha cadastrada!</h4>
      </div>
    <% end %>
  </div>
</div>
