<div class="box-content bg-testimonials text-center text-negative">
  <div class="box-content testimonials-box">
    <div class="container">
      <h1>O que estão falando sobre a Alster</h1>
      <div class="row">
        <div class="col-lg-4 pvxl">
          <p class="paxl"><em>"Com uma equipe que é apaixonada por esporte, o site tem foco apenas no segmento esportivo, servindo como uma grande comunidade ao redor do assunto."</em></p>
          <p>Sports Job</p>
        </div>
        <div class="col-lg-4 pvxl">
          <p class="paxl"><em>"As formas de retribuir à sociedade vêm através dos pilares de atuação da Alster, que consistem no esporte como formação da pessoa, o levando às comunidades carentes; o esporte como sentido para vida, como no caso do paratletismo; e o esporte para o bem estar mental."</em></p>
          <p>Geracaoe.com</p>
        </div>
        <div class="col-lg-4 pvxl">
          <p class="paxl"><em>"A Alster tem uma frente de impacto social que busca apoiar e formar indivíduos em comunidades de baixa renda na área esportiva e outra vertente educativa para divulgar o esporte por meio de palestras com foco no bem-estar mental."</em></p>
          <p>Projeto Draft</p>
        </div>
      </div>
    </div>
  </div>
</div>
