<% content_for :bn, 'bn-home' %>

<% content_for :head do %>
  <div class="row header-description">
    <div class="col-lg-6">
      <div class="paxl">
        <h1 class="pal text-negative">Muito mais que um financiamento coletivo voltado para o esporte.</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="bg-light content">
  <div class="container">
    <h2 class="text-primary pbxl">Quem Somos</h2>

    <p>A Alster é uma plataforma de impulsionamento para o esporte. Acreditando no poder transformador da prática esportiva na formação e educação das pessoas de todas as idades, o objetivo maior da empresa é que todos os esportes sejam cada vez mais praticados no Brasil, trazendo benefícios imensuráveis à educação e à saúde.</p>

    <p>A Alster fornece curadoria e acompanhamento de todas as campanhas lançadas no site, sempre de forma muito próxima do realizador. Com uma equipe que é apaixonada por esporte e vivendo esse estilo de vida, o site tem foco apenas no esporte, servindo como uma grande comunidade ao redor do assunto.</p>
  </div>
</div>
<div class="container">
  <div class="content">
    <h2 class="text-secondary text-center pbxl">Informações técnicas:</h2>
    <ul class="list-steps ">
      <li>Até 2 dias úteis para aprovar o projeto;</li>
      <li>12% de TX (Alster + Cartão) do valor arrecadado</li>
      <li>Até 20 dias para depósito do valor arrecadado na campanha bem sucedida;</li>
      <li>Qualquer pessoa acima de 18 anos (ou menor, mas com um representante legal) pode utilizar nossos serviços e fazer uma campanha de crowdfunding desde que a campanha esteja de acordo com nossos critérios de seleção.</li>
    </ul>
    <div class="text-center">
      <div class="btn btn-spaced btn-secondary">Crie sua campanha</div>
    </div>
  </div>
</div>

<%= render "abouts/testimonials" %>
