<%= simple_form_for :checkout, url: checkouts_path(project_id: (reward.present? ? reward.project.id : project.id), reward_id: (reward.present? ? reward.id : nil)), method: :post, :html => { class: 'checkout-form',
    :'data-logged' => signed_in?,
    :'data-min-value' => (reward.present? ? reward.minimum_value : 0),
    :'data-customer-email' => (current_user.email if current_user.present?),
    :'data-customer-name' => (current_user.name if current_user.present?),
    :'data-customer-document-number'=> (current_user.document if current_user.present? and current_user.document.present?),
    :'data-customer-phone-ddd'=> (current_user.phone_area_code if current_user.present? and current_user.phone_area_code.present?),
    :'data-customer-phone-number' => (current_user.phone if current_user.present? and current_user.phone.present?),
    :'data-customer-address-neighborhood'=> (current_user.address.neighborhood if current_user.present? and current_user.address.present?),
    :'data-customer-address-street'=> (current_user.address.address if current_user.present? and current_user.address.present?),
    :'data-customer-address-street-number'=> (current_user.address.number if current_user.present? and current_user.address.present?),
    :'data-customer-address-complementary'=> (current_user.address.complement if current_user.present? and current_user.address.present?),
    :'data-customer-address-zipcode'=> (current_user.address.zipcode if current_user.present? and current_user.address.present?)} do |f| %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">R$</span>
    </div>
    <%= f.input :amount, label: false, wrapper: false, input_html: {
      class: 'amount_to_real',
      placeholder: (reward.present? and reward.minimum_value > 0) ? amount_to_float(reward.minimum_value) : "Digite o valor",
      value: (amount_to_float(reward.minimum_value) if (reward.present? and reward.minimum_value > 0))
    } %>
  </div>
  <% if reward.present? %>
    <% if reward.observation_description.present? %>
      <label> Observações </label>
      <%= f.input :observation, placeholder: reward.observation_description , label: false, as: :text, required: false %>
    <% end %>
    <div class="input-group">
      <%= f.input :anonymous, as: :boolean, label: "Doação anônima" %>
    </div>
    <div class="input-group mb-3">
      <%= f.input :refund_if_not_success, as: :boolean, label: "Quero que o valor seja estornado, caso a campanha não atinja 100%" %>
    </div>
  <% end %>
  <%= render "checkouts/payment_services", f: f, id: id %>
<% end %>
