<button type="button" class="btn payment-service-toggle btn-block btn-primary" data-toggle="modal">
  Apoiar
</button>

<div class="modal fade" id="payment-service-modal" tabindex="-1" role="dialog" aria-labelledby="payment-service-modal-label" aria-hidden="true" data-id=<%= id.present? ? id : "reward_nil" %>>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payment-service-modal-label">Escolha um método de Pagamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= f.button :button, class: 'btn btn-primary btn-block mvl', data: {"payment-service-button": true} do %>
          Apoiar com Pagar.me
        <% end %>
        <div id="paypal-button-container" data-payment-service-button class="mvl"></div>
      </div>
    </div>
  </div>
</div>
