<%= simple_form_for [:manager, @backer], wrapper: :vertical_form do |f| %>
  <%= f.error_notification %>
  <% if @backer.id.blank? %>
    <div class="row ">
      <div class="col-md-6">
        <%= f.input :user, label: "Usuario" %>
      </div>
      <div class="col-md-6">
        <%= f.input :project, label: "Projeto" %>
      </div>
      <div class="col-md-6">
        <%= f.input :value, label: "Valor" %>
      </div>
      <div class="col-md-6">
        <%= f.input :reward, label: "Recompensa" %>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <%= f.input :status, as: :select, collection: Backer::PAID_STATES, label: "Status" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.button :button, class: 'btn btn-success btn-lg pull-right' do %>
        <span class="fa fa-save"></span> Salvar
      <% end %>
    </div>
  </div>
<% end %>
