<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th>Projeto</th>
      <th>Usuário</th>
      <th>Recompensa</th>
      <th>Valor</th>
      <th>Status</th>
      <th class="actions" style="width:5%;"></th>
    </tr>
  </thead>
  <tbody class="no-border-x">
    <% @backers.each do |backer| %>
      <tr>
        <td><%= link_to backer.project.name, edit_manager_project_path(backer.project), class: 'icon' %></td>
        <td><%= link_to backer.user.name, edit_manager_user_path(backer.user), class: 'icon' %></td>
        <td><%= backer.reward_id %></td>
        <td><%= amount_to_real backer.value %></td>
        <td><%= backer.status %></td>
        <td class="actions">
          <%= link_to raw("<i class='mdi mdi-plus-circle-o'></i>"),
          edit_manager_backer_path(backer), class: "icon" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>