<%= simple_form_for @q, url: manager_backers_path, method: :get, wrapper: :vertical_form do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :project_name_cont, label: "Projeto" %>
    </div>
    <div class="col-md-4">
      <%= f.input :status_eq, as: :select, collection: Backer::PAID_STATES , label: "Status", placeholder: " - Selecione um Status - " %>
    </div>
  </div>
  <div class="toolbar row">
    <div class="actions col-md-4 tet-right ptxl">
      <%= link_to manager_backers_path, class: 'btn btn-secondary' do %>
        <span class="fa fa-close"></span> Limpar Filtros
      <% end %>
      <%= f.button :submit, "Filtrar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
