<div class="card card-border-color card-border-color-primary">
  <div class="card-body">
    <%= render 'manager/backers/search' %>
  </div> 
  <div class="card-body table-responsive">    
    <% if @backers.present? %>
      <%= render 'manager/backers/list', backers: @backers %>
    <% else %>
      <div class="paxl">
        <h4 class="text-center">Nenhuma doação encontrada!</h4>
      </div>
    <% end %>
  </div>
</div>