<div class="box box-post mbl">
  <%= link_to post_path(post), class: "box-post-link" do %>
    <% if post.image_url.present? %>
      <div class="box-image-post-cover" style="background-image: url(<%= post.image_url %>/convert?fit=clip); background-size: cover; background-position: center;">
      </div>
    <% end %>
    <div class="box-content box-content-text">
      <h3><%= post.title %></h3>
      <p class="box-post-summary"><%= post.summary %></p>
      <div class="box-post-date">
        <p><%= time_ago_in_words post.created_at %> atrás  (<%= format_month_year_date post.created_at, "%d/%m/%Y" %>)</p>
      </div>
    </div>
  <% end %>
</div>
