
<div class="ptl">
  <h4>Cadastrar novo Post</h4>
  <%= simple_form_for post, url: posts_path, remote: true, html: { class: 'form-horizontal', method: :post } do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, label: "Título da Notícia", required: true, class: "post-form-input" %>
    <%= f.association :post_category, collection: @post_categories, label: "Categoria", class: "post-form-input" %>
    <%= f.input :body, as: :text, label: "Corpo da Notícia", required: true, class: "post-form-input" %>
    <%= f.filestack_field :image_url, 'Enviar imagem', id: "image", pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.onUpload(event)', class: 'btn btn-secondary btn-upload btn-block post-form-image post-form-input' %>

    <%= f.button :submit, "Postar", class: "btn btn-primary" %>
  <% end %>
</div>
