<% if @post.present? && @post.valid? %>
  $('.post-list').prepend('<%= j render('posts/box', post: @post) %>')
  $('.form-control').val("")
  $('.collapse').collapse()
  toastr.success("Postagem enviada com Sucesso!")
<% end %>
