<% content_for :bn, 'bn-home' %>

<% content_for :head do %>
<% end %>

<div class="bg-light content">
  <div class="container">
    <h2 class="text-primary prxl">Notícias</h2>
    <div class="row post-content">
      <div class="col-md-9">
        <% if can? :create, Post %>
          <button class="btn btn-primary mvxl" data-toggle="collapse" data-target="#post-form" aria-expanded="false" aria-controls="post-form">
            Criar Post
          </button>
          <div class="post-form">
            <div class="fieldset-block collapse mtl mbl" id="post-form">
              <%= render "posts/form", post: Post.new %>
            </div>
          </div>
        <% end %>
        <% if @posts.present? %>
          <div class="post-list mtxl">
            <% @posts.each do |post| %>
              <%= render 'posts/box', post: post %>
            <% end %>
          </div>
        <% else %>
          <% if selected_category %>
            <div class="alert alert-primary text-center mtxl">
              Nenhuma notícia encontrada nesta categoria
            </div>
          <% else %>
            <div class="alert alert-primary text-center mtxl">
              Nenhuma notícia cadastrada
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3 order-md-last order-sm-first">
        <h3 class="text-primary"> Categorias </h3>
        <div class="post-categories-filter">
          <%= render 'post_categories/list', post_categories: @post_categories, selected_category: selected_category %>
        </div>
      </div>
    </div>
  </div>
