<% content_for :bn, 'bn-projects' %>

<div class="bg-light content">
  <div class="container post-content">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="post-header">
          <% if can? :manage, @post %>
            <div class="ptl pbl mbxl">
              <%= link_to "Excluir Postagem", post_path(@post) , method: :delete, class: "btn btn-secondary btn-danger float-right", data: { confirm: "Você deseja apagar esta postagem?" } %>
            </div>
          <% end %>
          <div class="post-title">
            <%= @post.title %>
          </div>
          <div class="row">
            <div class="col-6 text-left post-date">
              <%= format_month_year_date @post.created_at, "%d/%m/%Y, ás %H:%M" %>
            </div>
            <div class="col-6 text-right post-share">
              <%= social_share_button_tag('Share to Facebook', desc: @post.title, :allow_sites => %w(facebook)) %>
            </div>
          </div>
          <div class="post-divider"></div>
        </div>
        <% if @post.image_url.present? %>
          <div class="post-image-wrapper text-center">
            <%= image_tag @post.image_url, width: 600, height: 300, class: 'post-image' %>
          </div>
        <% end %>
        <div class="post-body">
          <%= auto_link (simple_format @post.body, :html => { :target => '_blank' }) %>
          <hr>
          <%= render "posts/disqus" %>
        </div>
      </div>
    </div>
  </div>
</div>
