$theme-colors: (
  primary: #7368B3,
  secondary: #6AC4B4,
  info: #6AC4B4,
  negative: #fff
) !default;

$container-max-widths: (
  xl: 1280px
) !default;

$font-family-titles: 'Work Sans', 'Helvetica', sans-serif;

$bg-gradient: linear-gradient(90deg, rgba(0,56,77, 80%), rgba(0,56,77,0) 50%), linear-gradient(180deg, rgba(0,56,77,80%), rgba(0,56,77,0) 50%);

$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
