<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-group">
    <%= f.filestack_field :avatar_url, 'Enviar imagem', pickerOptions: {'fromSources': ['local_file_system', 'googledrive', 'dropbox', 'gmail', 'facebook', 'instagram']}, onchange: 'Projects.onUpload(event)', class: 'btn btn-secondary btn-upload btn-block' %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-block btn-spaced btn-lg btn-secondary' %>
  </div>
<% end %>
