<!DOCTYPE html>
<html>
  <head>
    <title>Alster - Tornamos o caminho para atingir o objetivo esportivo mais tranquilo!</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js' %>
    <%= javascript_include_tag '//assets.pagar.me/checkout/checkout.js' %>
    <%= javascript_include_tag "https://www.paypal.com/sdk/js?client-id=" + Rails.application.secrets.paypal_client_id + "&currency=BRL" %>

    <%= tag :meta, name: "pagarme-encryption-key", content: Rails.application.secrets.pagarme_encryption_key %>

    <meta property="og:image" content="<%= image_url facebook_image(@project) %>" />
  </head>

  <body>
