<%= render 'layouts/head' %>

<div class="bn bn-devise devise">
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
