<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body style="font-family:'Helvetica', Helvetica, Arial, sans-serif; font-size:16px; background-color: #e6e6e6; color: #666; padding: 30px;">
    <div style="margin: 0 auto; width: 90%;">
      <div style="background-color: #4eaca0; padding: 20px; text-align: center; border-top-left-radius: 6px; border-top-right-radius: 6px;">
        <%= image_tag(image_url('logo-mailer.png'), alt: "Alster", width: "200px", height: "75px") %>
      </div>
      <div style="padding: 30px; background-color: #fff; border: 1px solid #ccc; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
        <%= yield %>
        <p>
          Um abraço,<br>
          <strong>Equipe Alster.esp.br</strong><br>
          <a href="//www.alster.esp.br">www.alster.esp.br</a>
        </p>
      </div>
    </div>
  </body>
</html>
