<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Alster - Manager</title>

    <%= stylesheet_link_tag 'manager', media: 'all' %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= javascript_include_tag 'manager' %>

    <script type="text/javascript">
      $(document).ready(function(){
        App.init()
      })
    </script>
  </head>
  <body>
    <div class="be-wrapper">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header"><%= link_to '', manager_root_path, class: 'navbar-brand' %></a>
          </div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= image_tag "manager/avatar.png" %>
                  <span class="user-name"><%= current_user.try(:name) %></span>
                </a>
                <div class="dropdown-menu" role="menu">
                  <div class="user-info">
                    <div class="user-name"><%= current_user.try(:name) %></div>
                    <div class="user-position online"><%= current_user.try(:email) %></div>
                  </div>

                  <a class="dropdown-item" href="pages-profile.html">
                    <span class="icon mdi mdi-face"></span>Minha Conta
                  </a>
                  <a class="dropdown-item" href="pages-login.html">
                    <span class="icon mdi mdi-power"></span>Logout
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <%= render 'layouts/manager/sidebar' %>

      <div class="be-content">
        <div class="page-head">
          <% if path_new_exists?(params[:controller]) and !is_controller?('manager/conversations') %>
            <div class="float-right">
              <%= link_to path_to_new(params[:controller]), class: 'btn btn-primary btn-lg mtl' do %>
                <span class="mdi mdi-plus-circle-o"></span> Cadastrar <%= t("controller_name.#{params[:controller]}").singularize %>
              <% end if is_action?('index') %>
            </div>
          <% end %>
          <h2 class="page-head-title"><%= t("controller_name.#{params[:controller]}") %></h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <%= render_breadcrumbs tag: :li, separator: '&nbsp/&nbsp' %>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>